.image_Episode_Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .image_Episode_Container > img{
        border-radius: 2px;
    }

.PlayEpisode{
    position: absolute;
    margin: auto;
    display: none;
}

.card_Episodes{
    cursor: pointer;
    padding: .5rem;
    color: white;
    text-decoration: none;
}

.card_Episodes:hover{
    cursor: pointer;
    background-color: #141519;
    
}

.card_Episodes:hover .PlayEpisode{
    display: block;
}

.episode_anime_title{
    font-size: 12px;
    color: rgb(214, 213, 213)
}

.providers_Episodes{
    margin: 1rem 0;
}

.episode_Provider{
    font-size: 13px;
    background-color: white;
    color: #000000;
    margin-right: 10px;
    padding: 0.45rem;
    border-radius: 10px;
    font-weight: bold;
}

.buttonsPagesContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 3rem;
}

.dpnone{
    display: none;
}

.buttonEpisodes{
    background-color: #3e729a;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}

.anime_Dowloaded_Card > div>  p {
    max-width: 200px;
}


.agregarPlaylist{
    background-color: #0a77ba;
    color: white;
    border-radius: 2px;
    padding: 0.6rem;
    display: block;
}


@media(max-width:650px){
    .card_Episodes{
        display: flex;
        width: 100vw;
        padding: 0 2rem;
        box-sizing: border-box;
        flex-direction: column;
    }

    .image_Episode_Container >img{
        width: 180px;
        height: 100px;
        padding-right: 1rem;
    }


}