.ChildrenContainer{
    margin-top: 72px;   
    
}

.AppBody{
    position: absolute;
    display: flex;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    color: #FFFFFF;
    justify-content: center; 
    overflow-x: hidden;
}