header{
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    height: auto;
    text-transform: capitalize;
    z-index: 3;
}


.Options_Menu{
    position: absolute;
    top: 50px;
    width: 200px;
    height: 400px;
    background-color: #3e729a;
    right: 0;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionMenu{
    cursor: pointer;
}

.optionMenu:hover{
    text-decoration: underline;
    color: #ff7f00;
}

.userName{
    cursor: pointer;
}

@media(max-width:600px){

    header{
        padding: 1rem 3rem !important
    }
}