.animes_dowloaded_container_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    justify-items: center;
    padding: 0rem 10rem;
    box-sizing: border-box;
}

.anime_Dowloaded_Card{
    padding: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


.anime_Dowloaded_Card > p{
    font-weight: bold;
    
}

.anime_Dowloaded_Card > div{
    max-width: 100%;
    z-index: 2;
}

.anime_Dowloaded_Card > div >p {
    width: 80%;
}

/* .anime_Dowloaded_Card > span{
    font-size: 12px;
    text-transform: capitalize;
}
 */


.anime_Dowloaded_Card:hover > p{
    text-decoration: underline;
}

.anime_Dowloaded_Card:hover >img{
    transform: translateY(-5px);
    z-index: 1;
}

.scroll::-webkit-scrollbar{
    width: 5px;
}

@media(max-width:1450px){
    .animes_dowloaded_container_grid{
        grid-template-columns: repeat(3,1fr);
        padding: 2rem 0rem;
    }
}

@media(max-width:1050px){
    .animes_dowloaded_container_grid{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 0rem;

    }
}

@media(max-width:650px){
    .animes_dowloaded_container_grid{
        grid-template-columns: repeat(1,1fr);
        padding: 2rem 0rem;

    }
}

@media(min-width:2000px){
    .animes_dowloaded_container_grid{
        grid-template-columns: repeat(5,1fr);
        font-size: 30px;
    }

    .anime_Dowloaded_Card > span{
        font-size: 22px;
    }
}